<div class="row">
    <div class="col">
        <edit-card>
            <edit-card-title>Time</edit-card-title>
            <edit-card-action *ngIf="!readonly" (click)="onEdit()">
                <icon type="regular" name="pen-to-square"></icon>
                {{oldValue ? 'Edit' : 'Add'}}
            </edit-card-action>
            <edit-card-content *ngIf="oldValue">
                <span class="bone">{{getCookTime(oldValue)}}</span>
            </edit-card-content>
        </edit-card>
    </div>
</div>
<modal [(show)]="showModal">
    <modal-header>Modify Cook Time</modal-header>
    <modal-body>
        <list>
            <list-item *ngFor="let time of cookTimes" class="py-3 cursor-pointer"
                [class.active]="time.id === newValue" (click)="onSelect(time.id)">
                {{time.value}}
            </list-item>
        </list>
    </modal-body>
    <modal-footer>
        <button class="btn btn-link" (click)="onClose()">
            Close
        </button>
        <button class="btn btn-primary" (click)="onSave()" [disabled]="oldValue === newValue">
            Save
        </button>
    </modal-footer>
</modal>
