<food-recipe-edit-header [recipe]="recipe" [readonly]="readonly" (updated)="onUpdated($event)">
</food-recipe-edit-header>
<food-recipe-edit-actions *ngIf="!hideActions" [recipe]="recipe" [readonly]="readonly" (updated)="onUpdated($event)">
</food-recipe-edit-actions>
<food-recipe-edit-categories [categories]="recipe.categories" [readonly]="readonly"
    (updated)="onUpdated({categories: $event})">
</food-recipe-edit-categories>
<food-recipe-edit-cooktime [cookTime]="recipe.cookTime" [readonly]="readonly" (updated)="onUpdated({cookTime: $event})">
</food-recipe-edit-cooktime>
<food-recipe-edit-ingredients [ingredients]="recipe.ingredients" [readonly]="readonly"
    (updated)="onUpdated({ingredients: $event})">
</food-recipe-edit-ingredients>
<food-recipe-edit-method [method]="recipe.method" [readonly]="readonly" (updated)="onUpdated({method: $event})">
</food-recipe-edit-method>
