<ng-container *ngIf="isAuthenticated$|async else routerOutlet">
    <div id="wrapper">
        <div class="navbar-wrapper show" [class.show]="showSidebar">
            <div class="navbar-switch" (click)="toggleSidebar()">
                <icon name="square-caret-left" type="solid" size="xs"></icon>
            </div>
            <ng-container *ngIf="activeApp$|async as activeApp">
                <div dropdown class="navbar-header bg-gradient px-0">
                    <div dropdownToggle>
                        <icon [name]="activeApp.icon" type="solid" size="xl" class="p-3"></icon>
                    </div>
                    <div dropdownMenu>
                        <div class="d-flex justify-content-between align-items-center">
                            <h3 class="dropdown-header">Switch to</h3>
                            <a [routerLink]="''">
                                <div class="p-3 ms-5 text-nowrap">
                                    All Apps
                                    <icon type="solid" name="house-crack"></icon>
                                </div>
                            </a>
                        </div>
                        <a dropdownItem *ngFor="let app of apps$|async|keyvalue" [routerLink]="app.key">
                            <icon type="solid" [name]="app.value.icon" class="me-3"></icon>
                            {{app.value.name}}
                        </a>
                    </div>
                </div>
                <div class="navbar navbar-menu">
                    <ng-container *ngFor="let route of activeRoutes$|async">
                        <a *ngIf="!route.hidden" class="navbar-item" [routerLink]="[activeApp.id, route.path]"
                            routerLinkActive="active">
                            <icon [name]="route.icon" type="solid"></icon>
                            <span>{{route.title}}</span>
                        </a>
                    </ng-container>
                </div>
            </ng-container>
            <div class="navbar navbar-settings">
                <a *ngIf="user$|async as user" class="navbar-item d-flex align-items-center" [routerLink]="'/account'"
                    routerLinkActive="active" [class.skeleton]="!user.email">
                    <avatar class="d-inline bone">
                        <img [src]="user.image" [alt]="user.name" class="rounded-circle align-baseline" />
                    </avatar>
                    <span class="bone">
                        {{user.name}}
                    </span>
                </a>
                <a class="navbar-item" [routerLink]="'/settings'" routerLinkActive="active">
                    <icon type="solid" name="gear"></icon>
                    <span>Settings</span>
                </a>
                <a class="navbar-item" [routerLink]="'/logout'" routerLinkActive="active">
                    <icon type="solid" name="right-from-bracket"></icon>
                    <span>Logout</span>
                </a>
            </div>
        </div>
        <div id="content-wrapper">
            <div class="container my-3">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</ng-container>


<ng-template #routerOutlet>
    <router-outlet></router-outlet>
</ng-template>
