<div class="card" [class.skeleton]="isBusy">
    <div class="card-header mb-2">
        <div class="d-flex align-items-center">
            <span class="me-2 display-4 text-muted">
                <icon type="solid" name="calendar-days"></icon>
            </span>
            <div class="caption">Week</div>
            <div class="ms-auto d-flex align-items-center bone">
                <button class="btn btn-link" (click)="onPreviousPage()">
                    Previous
                </button>
                <span class="caption"> | </span>
                <button class="btn btn-link" (click)="onNextPage()">
                    Next
                </button>
            </div>
        </div>
    </div>
    <list>
        <list-item *ngFor="let day of week" class="cursor-pointer d-flex align-items-center"
            [active]="!isBusy && isActiveDay(day.id)" (click)="onSelectDay(day.id)">
            <ng-container *ngIf="day[meal] as recipeId; else recipeNotFound">
                <ng-container *ngIf="getRecipe(recipeId) as recipe; else recipeNotFound">
                    <div>
                        <div class="caption caption-sx bone">
                            {{getDay(day.id)}}
                        </div>
                        <span class="bone">
                            {{recipe.name}}
                        </span>
                    </div>
                    <div class="ms-auto bone">
                        <div style="width: 4rem; height: 2.5rem;">
                            <img [src]="recipe.image" [alt]="recipe.name" class="img-fluid fit-cover w-100 h-100" />
                        </div>
                    </div>
                </ng-container>
            </ng-container>
            <ng-template #recipeNotFound>
                <div>
                    <div class="caption caption-sx bone">{{getDay(day.id)}}</div>
                    —
                </div>
            </ng-template>
        </list-item>
    </list>
</div>
