<div class="card">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <span class="me-2 display-4 text-muted">
                <icon type="solid" name="calendar-days"></icon>
            </span>
            <div class="caption">Week</div>
            <div class="ms-auto d-flex align-items-center">
                <button class="btn btn-link">
                    Previous
                </button>
                <span class="caption"> | </span>
                <button class="btn btn-link">
                    Next
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="list-group">
            <div class="list-group-item cursor-pointer d-flex align-items-center">
                <div>
                    <div class="caption caption-sx">Mon, 21 Nov</div>—
                </div>
                <div class="ms-auto">
                    <div style="width: 4rem; height: 2.5rem;"></div>
                </div>
            </div>
            <div class="list-group-item cursor-pointer d-flex align-items-center">
                <div>
                    <div class="caption caption-sx">Tue, 22 Nov</div>—
                </div>
                <div class="ms-auto">
                    <div style="width: 4rem; height: 2.5rem;"></div>
                </div>
            </div>
            <div class="list-group-item cursor-pointer d-flex align-items-center">
                <div>
                    <div class="caption caption-sx">Wed, 23 Nov</div>—
                </div>
                <div class="ms-auto">
                    <div style="width: 4rem; height: 2.5rem;"></div>
                </div>
            </div>
            <div class="list-group-item cursor-pointer d-flex align-items-center">
                <div>
                    <div class="caption caption-sx">Thu, 24 Nov</div>—
                </div>
                <div class="ms-auto">
                    <div style="width: 4rem; height: 2.5rem;"></div>
                </div>
            </div>
            <div class="list-group-item cursor-pointer d-flex align-items-center">
                <div>
                    <div class="caption caption-sx">Fri, 25 Nov</div>—
                </div>
                <div class="ms-auto">
                    <div style="width: 4rem; height: 2.5rem;"></div>
                </div>
            </div>
            <div class="list-group-item cursor-pointer d-flex align-items-center active">
                <div>
                    <div class="caption caption-sx">Today</div>—
                </div>
                <div class="ms-auto">
                    <div style="width: 4rem; height: 2.5rem;"></div>
                </div>
            </div>
            <div class="list-group-item cursor-pointer d-flex align-items-center">
                <div>
                    <div class="caption caption-sx">Sun, 27 Nov</div>—
                </div>
                <div class="ms-auto">
                    <div style="width: 4rem; height: 2.5rem;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
