<ng-container *ngIf="recipe$|async as recipe">
    <stepper (completed)="onCompleted()">
        <stepper-step title="Name and Description" [isInvalid]="isInvalid(recipe)">
            <div *ngIf="isInvalid(recipe)" class="callout w-100 mt-3">
                Name and Description cannot be empty
            </div>
            <food-recipe-edit-header [recipe]="recipe" [hideImage]="true" (updated)="onUpdated($event)">
            </food-recipe-edit-header>
            <food-recipe-edit-categories [categories]="recipe.categories" (updated)="onUpdated({categories: $event})">
            </food-recipe-edit-categories>
            <food-recipe-edit-cooktime [cookTime]="recipe.cookTime" (updated)="onUpdated({cookTime: $event})">
            </food-recipe-edit-cooktime>
        </stepper-step>
        <stepper-step title="Ingredients & Method">
            <food-recipe-edit-ingredients [ingredients]="recipe.ingredients"
                (updated)="onUpdated({ingredients: $event})">
            </food-recipe-edit-ingredients>
            <food-recipe-edit-method [method]="recipe.method" (updated)="onUpdated({method: $event})">
            </food-recipe-edit-method>
        </stepper-step>
        <stepper-step title="Preview">
            <food-recipe [recipe]="recipe" [readonly]="true" [hideActions]="true"></food-recipe>
        </stepper-step>
    </stepper>
</ng-container>
