<recipes-filters [showFavouriteArchived]="true" (filtered)="onFiltered($event)" (viewChanged)="onViewChanged($event)">
</recipes-filters>

<div class="row">
    <div class="col-md-9">
        <div class="position-relative bone overflow-hidden" style="height: 10rem;">
            <img src="assets/food/banner.jpg" alt="banner" class="fit-cover img-fluid w-100 h-100" />
            <div class="position-absolute top-0 m-5 text-white">
                <h3>Welcome to your Recipes</h3>
                <div>Your journey starts here</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="callout callout-secondary h-100 d-flex align-items-center p-3 text-center">
            <a class="w-100" href="/food/new">
                <div class="d-md-none d-flex align-items-center justify-content-between">
                    <div>Create a new recipe</div>
                    <div class="tag bone tag-secondary m-0">New +</div>
                </div>
                <div class="d-none d-md-block text-center">
                    <div class="mb-3">Create a new recipe</div>
                    <div class="tag bone tag-secondary m-0">New +</div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row row-cols-lg-4 row-cols-md-2 row-cols-1 g-3" [class.skeleton]="isBusy$|async">
    <a *ngFor="let recipe of (recipes$|async)|keyvalue" [routerLink]="[recipe.key]">
        <food-recipe-card [recipe]="recipe.value" [view]="view"></food-recipe-card>
    </a>
</div>
