<ng-container *ngIf="recipe$|async as recipe; else empty">
    <food-recipe [recipe]="recipe" [class.skeleton]="isBusy$|async" [readonly]="!(isAdmin$|async)" (added)="onAdded(recipe)"></food-recipe>
</ng-container>

<ng-template #empty>
    <no-result>
        <no-result-title>Recipe Not Found</no-result-title>
        <no-result-description>We're sorry the recipe you requested could not be found.</no-result-description>
        <no-result-actions>
            <button class="btn btn-link" [routerLink]="''">
                Home
            </button>
        </no-result-actions>
    </no-result>
</ng-template>
