.alerts {
    position: fixed;
    z-index: 1000;
    margin-top: 3rem;
    min-width: 90%;
    display: none;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.5rem;

    box-shadow: 0px 7px 7px 0px rgba($dark, 0.1);
    -webkit-box-shadow: 0px 7px 7px 0px rgba($dark, 0.1);
    -moz-box-shadow: 0px 7px 7px 0px rgba($dark, 0.1);

    @media only screen and (min-width: $screen-min-md) {
        left: inherit;
        transform: inherit;
        bottom: 0;
        right: 0;
        margin-right: 2rem;
        margin-bottom: 2rem;
        min-width: 25%;
    }

    &.show {
        @extend .slide-down;
        display: block;
    }
}

.alert {
    @extend .slide-down;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0rem 1rem !important;
    border: none;

    & div {
        display: flex;
        align-items: center;

        & :first-child {
            margin-right: 0.5rem;
        }

    }

    & button {
        @extend .btn;
        @extend .btn-link;
        float: right;
        color: inherit;
    }
}

$alertTypes: ('success': $success, 'error': $danger, 'warning': $warning);

@each $key,
$value in $alertTypes {
    .alert-#{$key} {
        background-color: #{$value} !important;
    }
}
