.alert-hero {
    margin-top: 3rem;
    padding: 0.25rem 1rem;
    min-width: 50%;
    display: none;
    position: fixed;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.5rem;

    box-shadow: 0px 7px 7px 0px rgba($dark, 0.1);
    -webkit-box-shadow: 0px 7px 7px 0px rgba($dark, 0.1);
    -moz-box-shadow: 0px 7px 7px 0px rgba($dark, 0.1);

    & span {
        margin: auto;
        margin-left: 1rem;
    }

    & button {
        @extend .btn;
        padding: 0.25rem !important;
        font-size: 1.5rem;
        color: inherit;
    }

    &.show {
        @extend .slide-down;
        display: flex;
    }

    @media only screen and (min-width: $screen-min-md) {
        left: inherit;
        transform: inherit;
        bottom: 0;
        right: 0;
        margin-right: 2rem;
        margin-bottom: 2rem;
        min-width: 25%;
    }
}

$alertTypes: ('success': $success, 'error': $danger, 'warning': $warning);

@each $key,
$value in $alertTypes {
    .alert-#{$key} {
        background-color: #{$value} !important;
    }
}
