.display-1 {
    font-size: 5rem!important;
}

.display-2 {
    font-size: 4rem!important;
}

.display-3 {
    font-size: 3rem!important;
}

.display-4 {
    font-size: 2rem!important;
}

.display-5 {
    font-size: 1.5rem!important;
}

.display-6 {
    font-size: 1rem!important;
}
