@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap/scss/_variables.scss";

@import "./menu";
@import "./card";
@import "./avatar";

body {
    background-color: #f7f7f7;
}

a {
    text-decoration: none !important;
    color: inherit;

    &:hover {
        color: inherit;
    }
}

button {
    background-color: transparent;

    &:focus {
        outline: 0;
    }
}

.caption {
    font-size: 11px;
    color: darkgray;
}