$primary: #e12b33;
$secondary: #423c3d;
$success: #8ced87;
$danger: #ed7272;
$warning:#edbc72;
$dark: #212529;
$light: darkgray;
$white: #fff;
$black: #000;

$theme-colors: (
    primary: $primary,
    secondary: $secondary,
    success: $success,
    danger: $danger,
    warning: $warning,
    dark: $dark,
    light: $light
);
