<ul *ngIf="showFavouriteArchived" class="nav mb-3">
    <li class="nav-link" (click)="showAll()" [class.active]="!filters.isFavourite && !filters.isArchived">
        All
    </li>
    <li class="nav-link" (click)="showFavourites()" [class.active]="filters.isFavourite">
        Favourites
    </li>
    <li class="nav-link" (click)="showArchived()" [class.active]="filters.isArchived">
        Archived
    </li>
</ul>

<search-input [(search)]="filters.search"></search-input>

<div class="mb-5 d-flex align-items-center justify-content-between">
    <div class="tag bone link">Categories</div>
    <div>
        <button class="btn btn-link pe-0" (click)="onChangeSort()">
            <icon type="solid" [name]="filters.sort === 'asc' ? 'arrow-up-a-z' : 'arrow-up-z-a'"></icon>
        </button>
        <button class="btn btn-link" (click)="onChangeView()">
            <icon type="solid" name="table-cells" class="me-2" [class.faded]="view === 'grid'"></icon>
            <icon type="solid" name="list" [class.faded]="view === 'list'"></icon>
        </button>
    </div>
</div>
