<div class="row">
    <div class="col">
        <div class="card py-0">
            <div class="row">
                <div *ngIf="!hideImage" class="col-md-8 py-0">
                    <div class="position-relative cursor-pointer">
                        <div class="bone">
                            <img [src]="oldRecipe.image" alt="{{oldRecipe.name}}"
                                class="img-fluid fit-cover w-100 max-vh-50" />
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column" [class.col-md-4]="!hideImage">

                    <ng-container *ngIf="!isEdit">
                        <div class="tag bone display-5 w-100 bone">
                            <span>{{oldRecipe.name || 'Name…'}}</span>
                        </div>
                        <div class="mt-3 bone">
                            {{oldRecipe.description || 'Description…'}}
                        </div>
                    </ng-container>
                    <ng-container *ngIf="isEdit">
                        <input placeholder="Name…" class="form-control text-primary display-5" [(ngModel)]="newName">
                        <textarea placeholder="Description…" class="form-control mt-2" [(ngModel)]="newDescription"
                            style="resize: none;"></textarea>
                    </ng-container>

                    <div *ngIf="oldRecipe.cookTime" class="mt-3 caption bone">
                        <icon type="regular" name="clock"></icon>
                        {{getCookTime(oldRecipe.cookTime)}}
                    </div>

                    <div class="mt-auto">
                        <div class="float-end mt-3">
                            <button *ngIf="!isEdit && !readonly" class="btn btn-link" (click)="onEdit()">
                                <icon type="regular" name="pen-to-square"></icon> Edit
                            </button>
                            <ng-container *ngIf="isEdit">
                                <button class="btn btn-link text-secondary" (click)="onCancel()">
                                    Cancel
                                </button>
                                <button class="btn btn-link" (click)="onSave()">
                                    Save
                                </button>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
