<div class="card clickable" (click)="onClicked()">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <div class="avatar avatar-64 rounded-circle bg-dark-l-50 text-dark me-3">
                <ng-content select="settings-card-icon"></ng-content>
            </div>
            <div>
                <ng-content select="settings-card-title"></ng-content>
                <ng-content select="settings-card-description"></ng-content>
            </div>
            <div class="ms-auto">
                <ng-content select="settings-card-actions"></ng-content>
            </div>
        </div>
    </div>
</div>
