<div class="row">
    <div class="col">
        <div class="card">
            <div class="d-flex align-items-center">
                <div class="progress-circle me-3" [attr.data-progress]="stepperProgress()">
                    <div>{{(step$|async)! + 1}} of {{steps.length}}</div>
                </div>
                <div>
                    <h3> {{title}}</h3>
                    <p class="display-6 caption m-0">{{nextTitle}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-between">
                    <button class="btn btn-link" [disabled]="(step$|async) === 0" (click)="onBack()">
                        Back
                    </button>
                    <button class="btn btn-primary" [disabled]="disableNextStep$|async" (click)="onNext()">
                        {{steps.length - 1 === (step$|async) ? 'Confirm' : 'Continue'}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-content></ng-content>
