<div class="card" [class.skeleton]="isBusy">
    <ul class="nav mb-3 d-flex justify-content-center">
        <li *ngFor="let type of meals" (click)="onSelectMeal(type.id)" class="nav-link"
            [class.active]="meal === type.id">
            {{type.name}}
        </li>
    </ul>
    <div class="card-header bg-primary bg-gradient text-white text-center">
        <div class="d-flex align-items-center justify-content-between">
            <button class="btn text-white" (click)="onPreviousDay()">
                <icon type="solid" name="caret-left" size="xl"></icon>
            </button>
            <button class="btn text-white display-5 m-0 p-3" (click)="onShowDatePicker()">
                {{getDay()}}
            </button>
            <button class="btn text-white" (click)="onNextDay()">
                <icon type="solid" name="caret-right" size="xl"></icon>
            </button>
        </div>
    </div>
    <ng-container *ngIf="day[meal] as meal; else recipeNotFound">
        <a *ngIf="getRecipe(meal) as recipe; else recipeNotFound" [routerLink]="routeFoodRecipe(recipe.id)">
            <food-recipe-card [recipe]="recipe"></food-recipe-card>
        </a>
    </ng-container>
    <button class="btn btn-primary my-3" (click)="onShowRecipes()">
        Select Recipe
    </button>
</div>

<ng-template #recipeNotFound>
    <div class="callout callout-secondary mb-5">
        Select one of your recipes by clicking 'Select Recipe' or pick a random recipe by clicking 'Pick Random'.
    </div>
    <button class="btn btn-secondary" (click)="onRandom()">
        Pick Random
    </button>
</ng-template>

<modal [(show)]="showRecipesModal">
    <modal-header>Select Recipe</modal-header>
    <modal-body>
        <food-recipe-select [recipes]="recipes" (selected)="onSelectedRecipe($event)"></food-recipe-select>
    </modal-body>
</modal>

<date-picker-modal [(show)]="showDatePickerModal" [(date)]="date">
</date-picker-modal>
