<div class="card">
    <ul class="nav mb-3 d-flex justify-content-center">
        <li class="nav-link">Breakfast</li>
        <li class="nav-link active">Lunch</li>
        <li class="nav-link">Dinner</li>
    </ul>
    <div class="card-header bg-primary bg-gradient text-white text-center">
        <div class="d-flex align-items-center justify-content-between">
            <button class="btn text-white">
                <icon type="solid" name="caret-left" size="xl"></icon>
            </button>
            <button class="btn text-white display-5 m-0 p-3">Today</button>
            <button class="btn text-white">
                <icon type="solid" name="caret-right" size="xl"></icon>
            </button>
        </div>
    </div>
    <div class="callout callout-secondary mb-5">
        Select one of your recipes by clicking 'Select' or pick a random recipe by clicking 'Pick Random'.
    </div>
    <button class="btn btn-primary my-3">
        Select Recipe
    </button>
    <button class="btn btn-secondary">
        Pick Random
    </button>
</div>
