<search-input [(search)]="search"></search-input>

<list [searchMark]="search" [searchMarkConfig]="{exclude: ['.caption']}">
    <list-item *ngFor="let recipe of recipes|searchList:search:'name'" (click)="onSelect(recipe)"
        class="py-3 cursor-pointer d-flex align-items-center">
        <div class="d-flex align-items-center">
            <div class="me-3">
                <div style="width: 6rem; height: 4rem;">
                    <img image [src]="recipe.image" [alt]="recipe.name" class="img-fluid fit-cover w-100 h-100" />
                </div>
            </div>
            <div>
                <div>{{recipe.name}}</div>
                <div class="caption">{{recipe.description}}</div>
            </div>
        </div>
    </list-item>
</list>
