<div class="row">
    <div class="col">
        <edit-card>
            <edit-card-title>Categories</edit-card-title>
            <edit-card-action *ngIf="!readonly" (click)="onEdit()">
                <icon type="regular" name="pen-to-square"></icon>
                {{oldValue.length === 0 ? 'Add' : 'Edit'}}
            </edit-card-action>
            <edit-card-content *ngIf="oldValue.length > 0">
                <tag *ngFor="let item of oldValue" class="bone">
                    {{(getCategory$(item)|async)?.name}}
                </tag>
            </edit-card-content>
        </edit-card>
    </div>
</div>
<modal [(show)]="showModal">
    <modal-header>Modify Categories</modal-header>
    <modal-body>
        <search-input [(search)]="search"></search-input>
        <list *ngIf="allCategories$|async as allCategories" [searchMark]="search">
            <list-item *ngFor="let item of allCategories|searchList:search:'name'" class="py-3 cursor-pointer"
                [class.active]="isActive(item.id)" (click)="onSelect(item.id)">
                <avatar class="me-3" [value]="item.name"></avatar>
                {{item.name}}
                <list-item-action>
                    <icon type="regular" [name]="isActive(item.id) ? 'square-check' : 'square'"></icon>
                </list-item-action>
            </list-item>
        </list>
    </modal-body>
    <modal-footer>
        <button class="btn btn-link" (click)="onClose()">
            Close
        </button>
        <button class="btn btn-primary" (click)="onSave()" [disabled]="isSaveDisabled()">
            Save
        </button>
    </modal-footer>
</modal>
