<div class="row">
    <div class="col">
        <edit-card>
            <edit-card-title>Categories</edit-card-title>
            <edit-card-action *ngIf="!readonly" (click)="onEdit()">
                <icon type="regular" name="pen-to-square"></icon>
                {{oldCategories.length === 0 ? 'Add' : 'Edit'}}
            </edit-card-action>
            <edit-card-content>
                <tag *ngFor="let item of oldCategories" class="bone">
                    {{getCategory(item)}}
                </tag>
            </edit-card-content>
        </edit-card>
    </div>
</div>
<modal [(show)]="showModal">
    <modal-header>Modify Categories</modal-header>
    <modal-body>
        <list>
            <list-item *ngFor="let item of allCategories" class="py-3 cursor-pointer" [class.active]="isActive(item.id)"
                (click)="onSelect(item.id)">
                {{item.name}}
            </list-item>
        </list>
    </modal-body>
    <modal-footer>
        <button class="btn btn-link" (click)="onClose()">
            Close
        </button>
        <button class="btn btn-primary" (click)="onSave()" [disabled]="isSaveDisabled()">
            Save
        </button>
    </modal-footer>
</modal>
