<ng-container *ngIf="isAuthenticated$|async else routerOutlet">
    <div id="wrapper">
        <div class="navbar-wrapper show" [class.show]="showSidebar">
            <div class="navbar-switch" (click)="toggleSidebar()">
                <icon name="square-caret-left" type="solid" size="xs"></icon>
            </div>
            <ng-container *ngIf="activeApp$|async as activeApp">
                <div class="navbar-header bg-gradient">
                    <div class="dropdown" tabindex="0">
                        <div [routerLink]="['']">
                            <icon [name]="activeApp.icon" type="solid" size="xl"></icon>
                        </div>
                        <ul class="dropdown-menu">
                            <div class="d-flex justify-content-between align-items-center">
                                <h3 class="dropdown-header">Switch to</h3>
                                <a [routerLink]="['']">
                                    <div class="p-3 ms-5 text-nowrap">All Apps svg</div>
                                </a>
                            </div>
                            <a [routerLink]="['/finance']">
                                <li class="dropdown-item">svg Finance</li>
                            </a>
                            <a [routerLink]="['/food']">
                                <li class="dropdown-item">svg Food</li>
                            </a>
                        </ul>
                    </div>
                </div>
                <div class="navbar navbar-menu">
                    <a *ngFor="let route of activeApp.routes" class="navbar-item" [routerLink]="[activeApp.id, route.path]"
                        routerLinkActive="active">
                        <icon [name]="route.icon" type="solid"></icon>
                        <span>{{route.title}}</span>
                    </a>
                </div>
            </ng-container>
            <div class="navbar navbar-settings">
                <a *ngIf="user$|async as user" class="navbar-item d-flex align-items-center" [routerLink]="['/account']"
                    routerLinkActive="active">
                    <div class="avatar avatar-32 rounded-circle text-primary d-inline">
                        <img src="https://lh3.googleusercontent.com/a/AATXAJzyuQDC4vRlKus_x8jLAa-xVq-YMd48fS_nMPT-=s96-c"
                            [alt]="user.name" class="rounded-circle align-baseline" />
                    </div>
                    <span>
                        {{user.name}}
                    </span>
                </a>
                <a class="navbar-item" [routerLink]="['/settings']" routerLinkActive="active">
                    <icon type="solid" name="gear"></icon>
                    <span>Settings</span>
                </a>
                <a class="navbar-item" [routerLink]="['/logout']" routerLinkActive="active">
                    <icon type="solid" name="right-from-bracket"></icon>
                    <span>Logout</span>
                </a>
            </div>
        </div>
        <div id="content-wrapper">
            <div class="container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</ng-container>


<ng-template #routerOutlet>
    <router-outlet></router-outlet>
</ng-template>
