<div *ngFor="let alert of alerts" class="alert" [class.cursor-pointer]="alert.link"
    [class.alert-success]="alert.type === 'success'" [class.alert-error]="alert.type === 'error'"
    [class.alert-warning]="alert.type === 'warning'" (click)="onClick(alert)">
    <div>
        <icon type="solid" [name]="iconName(alert)" size="xl"></icon>
        <div>{{alert.message}}</div>
    </div>
    <button (click)="onClose($event, alert)">
        <icon type="solid" name="xmark"></icon>
    </button>
</div>
