<settings-card>
    <settings-card-icon icon="circle-dollar-to-slot"></settings-card-icon>
    <settings-card-title>Subscription</settings-card-title>
    <settings-card-description>Choose or update your plan!</settings-card-description>
</settings-card>

<div class="my-3">

</div>

<div class="row row-cols-lg-4 row-cols-md-2 row-cols-1 g-3">
    <div *ngFor="let subscription of subscriptions" class="px-2">
        <div class="card h-100">
            <div class="card-header pt-3 text-center">
                <h3>
                    {{subscription.name}}
                    <span class="text-primary">${{subscription.price}}</span>
                    <span class="text-sm"> / month</span>
                </h3>
                <p class="caption">{{subscription.description}}</p>
            </div>
            <div class="card-body p-3">
                <div *ngFor="let benefit of subscription.benefits[activeApp]" class="d-flex my-3">
                    <icon type="solid" name="check" class="me-2"></icon>
                    <div class="text-sm">{{benefit}}</div>
                </div>
            </div>
            <div *ngIf="subscription.type !== activeSubscription" class="card-footer p-3">
                <button class="btn btn-primary w-100">Choose Plan</button>
            </div>
        </div>
    </div>
</div>
