<ng-container *ngIf="user$|async as user">
    <div class="card" [class.skeleton]="!user.email">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <avatar [size]="64" class="me-3 bone">
                    <img [src]="user.image" [alt]="user.name" class="rounded-circle align-baseline"
                        referrerpolicy="no-referrer" />
                </avatar>
                <div>
                    <div class="h3 bone">{{user.name}}</div>
                    <div class="caption bone">{{user.email}}</div>
                </div>
                <div class="ms-auto">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </div>
</ng-container>
