<div id="wrapper" class="">
    <div class="navbar-wrapper show">
        <div class="navbar-switch">
            svg
        </div>
        <div class="navbar-header bg-gradient">
            <div class="dropdown" tabindex="0">
                <div>
                    svg
                </div>
                <ul class="dropdown-menu">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="dropdown-header">Switch to</h3><a href="/">
                            <div class="p-3 ms-5 text-nowrap">All Apps svg</div>
                        </a>
                    </div><a href="/finance/">
                        <li class="dropdown-item">svg Finance</li>
                    </a><a href="/food/">
                        <li class="dropdown-item">svg Food</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="navbar navbar-menu">
            <a class="navbar-item" href="/finance/">
                svg<span>Dashboard</span>
            </a>
            <a class="navbar-item" href="/finance/transactions">
                svg<span>Transactions</span>
            </a>
        </div>
        <div class="navbar navbar-settings"><a class="navbar-item d-flex align-items-center" href="/account">
                <div class="avatar avatar-32 rounded-circle text-primary d-inline"><img
                        src="https://lh3.googleusercontent.com/a/AATXAJzyuQDC4vRlKus_x8jLAa-xVq-YMd48fS_nMPT-=s96-c"
                        alt="Gilbert Gambin" class="rounded-circle align-baseline"></div><span>Gilbert Gambin</span>
            </a>
            <a class="navbar-item" href="/settings">
                svg<span>Settings</span></a><a class="navbar-item" href="/logout">
                svg<span>Logout</span></a>
        </div>
    </div>
    <div id="content-wrapper">
        <div class="alert-hero alert-primary"><span></span>
            <button>svg</button>
        </div>
        <div class="container my-3">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="avatar avatar-64 rounded-circle text-primary me-3"><img
                                        src="https://lh3.googleusercontent.com/a/AATXAJzyuQDC4vRlKus_x8jLAa-xVq-YMd48fS_nMPT-=s96-c"
                                        alt="Gilbert Gambin" class="rounded-circle align-baseline"></div>
                                <div>
                                    <div class="h3">Gilbert Gambin</div>
                                    <div class="caption">gilbertgambin@gmail.com</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="apps">
                        <div class="card">
                            <div class="card-header">svg All Apps</div>
                            <ul><a href="/finance/">
                                    <li>
                                        svg <div>Finance</div>
                                    </li>
                                </a><a href="/food/">
                                    <li>
                                        svg <div>Food</div>
                                    </li>
                                </a></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"><a class="" href="/settings">
                        <div class="card clickable">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-64 rounded-circle bg-dark-l-50 text-dark me-3">
                                        svg
                                    </div>
                                    <div>
                                        <div class="h4">Settings</div>
                                        <div class="caption">Modify your preferences and other settings</div>
                                    </div>
                                    <div class="ms-auto"></div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-md-6"><a class="" href="/logout">
                        <div class="card clickable">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-64 rounded-circle bg-dark-l-50 text-dark me-3">
                                        svg
                                    </div>
                                    <div>
                                        <div class="h4">Logout</div>
                                        <div class="caption">We are sad to see you go</div>
                                    </div>
                                    <div class="ms-auto"></div>
                                </div>
                            </div>
                        </div>
                    </a></div>
            </div>
        </div>
    </div>
</div>
