<div class="container my-3">
    <div class="row">
        <div class="col">
            <user-header></user-header>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="apps">
                <div class="card">
                    <div class="card-header">
                        <icon type="solid" name="house-crack" size="xl"></icon> All Apps
                    </div>
                    <ul>
                        <a *ngFor="let app of apps$|async" [routerLink]="app.id">
                            <li>
                                <icon type="solid" [name]="app.icon" size="2x"></icon>
                                <div>{{app.name}}</div>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a [routerLink]="'notifications'">
                <settings-card>
                    <settings-card-icon icon="bell"></settings-card-icon>
                    <settings-card-title>Notifications</settings-card-title>
                    <settings-card-description>See your recent notifications</settings-card-description>
                </settings-card>
            </a>
        </div>
        <div class="col-md-6">
            <a [routerLink]="'settings'">
                <settings-card>
                    <settings-card-icon icon="gear"></settings-card-icon>
                    <settings-card-title>Settings</settings-card-title>
                    <settings-card-description>Modify your preferences and other settings</settings-card-description>
                </settings-card>
            </a>
        </div>
        <div class="col-md-6">
            <a [routerLink]="'logout'">
                <settings-card>
                    <settings-card-icon icon="right-from-bracket"></settings-card-icon>
                    <settings-card-title>Logout</settings-card-title>
                    <settings-card-description>We are sad to see you go</settings-card-description>
                </settings-card>
            </a>
        </div>
    </div>
</div>
