<ul class="nav mb-3">
    <li class="nav-link" [class.active]="view === 'all'" (click)="onChangeView()">
        All
    </li>
    <li class="nav-link" [class.active]="view === 'unread'" (click)="onChangeView()">
        Unread
    </li>
    <button class="btn btn-link ms-auto">
        <icon type="solid" name="square-check"></icon>
        Mark all as Read
    </button>
</ul>

<ng-container *ngIf="notifications$|async as notifications">
    <list *ngIf="notifications.length" [class.skeleton]="isBusy$|async">
        <list-item *ngFor="let notification of notifications" class="py-3" [active]="!notification.read"
            [class.cursor-pointer]="notification.link" (click)="onClick(notification)">
            <avatar *ngIf="apps$|async as apps" theme="dark" class="me-2">
                <icon type="solid" [name]="apps[notification.app].icon"></icon>
            </avatar>
            <div>
                <span class="bone">{{notification.message}}</span>
                <div class="caption bone">{{formatDate(notification.date)}}</div>
            </div>
            <list-item-action>
                <button class="btn btn-link text-secondary bone" (click)="onRead($event, notification)">
                    <icon type="solid" name="ellipsis"></icon>
                </button>
            </list-item-action>
        </list-item>
    </list>
    <no-result *ngIf="!notifications.length">
        <no-result-title>No Notifications</no-result-title>
        <no-result-description>There are no notifications to display.</no-result-description>
    </no-result>
</ng-container>
