<div class="container">
    <div class="row">
        <div class="col">
            <user-header>
                <button class="btn btn-link" [routerLink]="['']">
                    <icon type="solid" name="home" size="2x"></icon>
                </button>
            </user-header>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <settings-card (clicked)="toggleDarkTheme()">
                <settings-card-icon icon="circle-half-stroke"></settings-card-icon>
                <settings-card-title>Dark Mode</settings-card-title>
                <settings-card-description>Toggle Dark Mode on/off</settings-card-description>
                <div class="form-check form-switch">
                    <input type="checkbox" readonly [checked]="(theme$|async) === 'dark'" class="form-check-input">
                </div>
            </settings-card>
        </div>
    </div>
</div>
